<!-- Facebook Open Graph data -->
<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "Pet Patron | Shelters" %>

<div class="intro-banner" style="background-image: url(<%= image_path("shelters_banner.jpg") %>)">
  <div class="intro-copy">
    <h2 class="normal-head"> Shelters</h2>
    <p class="normal-sub">Discover shelters, sanctuaries or other animal protection organisations nearby </p>
    <%# <a href="/" class="card-sub"><i class="fa-solid fa-arrow-left-long font-weight-light"></i> back to home</a> %>
  </div>
</div>

<div class="shelter-container">
  <div class="container-top">
    <div class="container-top-copy">
      <h2 class="normal-head"> Local Animal Rescue</h2>
      <p class="normal-sub">Find shelters or smaller organisations close to you</p>
      <form class="input-group right-align container-top-search" role="search">
        <input class="form-control" id="query" name="query" type="search" placeholder="Search by city name " aria-label="Search">
        <button type="submit" class="btn border bg-white"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div style="width: 50%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="container-bottom">
    <% @shelters.each do |shelter| %>
    <div class="shelter-card">
      <div class="shelter-card-text shelter-card-element">
        <%= link_to shelter_path(shelter), style: "text-decoration:none;" do %>
          <h5 class="card-head"><i class="fa-solid fa-shield-heart"></i>&nbsp;&nbsp;<%= shelter.name %></h5>
        <% end %>
        <p class="card-sub txt-limit-3"><%= shelter.description %></p>
        <p><strong><%= link_to "See more info →", shelter_path(shelter), class: "card-link" %></a></strong></p>
      </div>
      <%= link_to shelter_path(shelter), style: "text-decoration:none;" do %>
        <div class="shelter-card-image">
        <% if shelter.photos.attached? %>
          <%= image_tag(shelter.photos[0]) %>
        <% else %>
          <%= image_tag "defult-shelter.png" %>
        <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
