<div class="container">
  <div class="col">
    <div class="card-body">
      <h2 class="card-title"><%= @shelter.name %></h2>
      <ul>
      <li><%= @shelter.phone_number %></li>
      <li><%= @shelter.email %></li>
      <li><%= @shelter.location %></li>
      <li> <%= @shelter.description %></li>
      </ul>
      <% if @shelter.photos.attached? %>
        <%= image_tag(@shelter.photos[0]) %>
      <% end %>
      <% if @shelter.user == current_user %>
        <%= link_to "Edit my shelter", edit_shelter_path %>
      <% end %>
      lala <%= @shelter.user_id %>
    </div>
  </div>
</div>
