<div class="shelter-show-body ">
  <div class="em-show-container">
    <div class="d-flex justify-content-between align-items-center mb-5">
      <div class="normal-head">Come to <%= @shelter.name %>'s aid!</div>
      <div>
        <%= link_to "â† back to shelters", shelters_path, class: "card-link", style: "color: #42a8b1" %>
      </div>
    </div>
    <div class="shelters-card">

          <%# ///////////shelters photos slide show start///////////////////// %>
          <div class="animal-show-card-image">
            <div id="animals-show-photos" class="carousel slide" data-bs-ride="true">

              <div class="carousel-indicators"> <%# switch buttons %>
                  <% @shelter.photos.each_with_index do |photo, index| %>
                  <button type="button" data-bs-target="#animals-show-photos" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>" aria-current="true" aria-label="Slide 1"></button>
                  <% end %>
              </div>

              <div class="carousel-inner"> <%# photos %>
                <% if @shelter.photos.attached? %>
                  <% @shelter.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= "active" if index == 0 %>">
                      <%= image_tag photo, class: "d-block w-100" %>
                    </div>
                  <% end #each %>
                <% else %>
                  <div class="carousel-item active">
                    <%= image_tag "pets_icons.jpg", class: "d-block w-100" %>
                  </div>
                <% end #if %>
              </div>

              <button class="carousel-control-prev" type="button" data-bs-target="#animals-show-photos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#animals-show-photos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <%# ///////////shelters photos slide show end//////////////////////// %>

        <div class="shelters-card-text">
        <div class="card-head mb-3">Contact</div>
        <br>
        <div class="card-link mb-2"><i class="fa-solid fa-phone"></i>&nbsp&nbsp  <%= @shelter.phone_number %></div>
        <div class="card-link mb-2"><i class="fa-solid fa-envelope"></i>&nbsp&nbsp  <%= @shelter.email %></div>
        <div class="card-link mb-2"><i class="fa-solid fa-location-dot"></i>&nbsp&nbsp  <%= @shelter.location %></div>
        <br><br>
        <div class="card-head mb-3">Opening times</div>
        <table class="my-2 padding-between-cols">
          <tbody>
            <tr>
              <th class="card-sub">Monday</th>
              <th class="card-sub">closed</th>
            </tr>
            <tr>
              <th class="card-sub">Tuesday</th>
              <th class="card-sub">14:00 - 16:00 Uhr</th>
            </tr>
            <tr>
              <th class="card-sub">Wednesday</th>
              <th class="card-sub">closed</th>
            </tr>
            <tr>
              <th class="card-sub">Thursday</th>
              <th class="card-sub">14:00 - 16:00 Uhr</th>
            </tr>
            <tr>
              <th class="card-sub">Friday</th>
              <th class="card-sub">14:00 - 16:00 Uhr</th>
            </tr>
            <tr>
              <th class="card-sub">Saturday</th>
              <th class="card-sub">12:00 - 13:30 Uhr</th>
            </tr>
            <tr>
              <th class="card-sub">Sunday</th>
              <th class="card-sub">13:30 - 16:00 Uhr</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="shelter-card-maplinks">
        <div style="width: 100%; height: 250px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="btn allanimals-button btn-font shelter-links"><%= link_to "All animals", animals_path(query: @shelter.location) %></div>
        <div class="btn urgentcauses-button btn-font shelter-links"><%= link_to "Urgent causes", emergencies_path(query: @shelter.location) %></div>
      </div>
    </div>
  </div>
</div>
