<div class="container">
  <div class="col">
    <div class="card-body">
      <h2 class="card-title"><%= @shelter.name %></h2>
      <ul>
      <li><%= @shelter.phone_number %></li>
      <li><%= @shelter.email %></li>
      <li><%= @shelter.location %></li>
      </ul>
      <% if @shelter.photos.attached? %>
        <%= image_tag(@shelter.photos[0]) %>
      <% end %>
    </div>
    </div>
  </div>
</div>
