<!-- Facebook Open Graph data -->
<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "Pet Patron | Edit #{@emergency.animal.name}'s urgent fundraising cause profile" %>
<% content_for :meta_description, @emergency.animal.description %>
<% content_for :meta_image, cl_image_path(@emergency.animal.photos[0].key) if @emergency.animal.photos.attached? %>

<h1 class="text-center m-4">Edit urgent fundraising cause for <%= @emergency.animal.name %> </h1>
<div class="container w-50">
  <div class="bg-white rounded p-3 shadow">
    <div class="text-center">
      <%# guard clause to prevent showing error if the user didn't upload photo %>
      <% if @emergency.photos.attached? %>
        <%= image_tag(@emergency.photos[0], width: 100, class: "mb-3") %>
      <%# display defult pic if the user did'nt upload one %>
      <% else %>
        <%= image_tag "pet_icon.jpg", width: 100 %>
      <% end #if %>
    </div>

    <%= simple_form_for([@animal,@emergency]) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :fundraising_goal %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photo for your Urgent Fundraising Cause" %>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit class: "btn add-emergency-button" %>
      </div>
    <% end %>
  </div>
</div>
