<div class="intro-banner" style="background-image: url(<%= image_path("emerge_banner.png") %>)">
  <div class="intro-copy">
    <h2 class="normal-head"> Emergencies</h2>
    <p class="normal-sub">Not sure if subline is needed; maybe just some short explanation</p>
    <a href="/" class="card-sub"><i class="fa-solid fa-arrow-left-long font-weight-light"></i> back to home</a>
  </div>
</div>

<div class="emergencies-container">
  <div class="container-top">
    <div class="container-top-copy">
      <h2 class="normal-head"> Emergencies</h2>
      <p class="normal-sub">Search for emergencies from shelters close to you</p>
      <form class="input-group right-align container-top-search" role="search">
        <input class="form-control" id="query" name="query" type="search" placeholder="Search for emergencies" aria-label="Search">
        <button type="submit" class="btn border bg-white">Search</button>
      </form>
    </div>
    <div style="width: 50%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="container-bottom">
    <% @emergencies.each do |emergency| %>
    <div class="emergency-card">
      <div class="shelter-card-text emergency-card-element">
        <h5 class="card-head"><%= emergency.title %></h5>
        <p class="card-sub txt-limit-3"><%= emergency.description %></p>
        <p><strong><%= link_to "See more info →", emergency_path(emergency), class: "card-link" %></a></strong></p>
        <% fgoal = emergency.fundraising_goal.to_i %>
        <% sum_of_donations = emergency.donations.sum(:donation_amount) %>
        <p class="fund-sub">Donations: <%= sum_of_donations %>€ | Goal: <%= fgoal %>€<%= "   🎉🎊🥳" if sum_of_donations > fgoal %></p>
        <% progress = (emergency.donations.sum(:donation_amount).to_f / emergency.fundraising_goal.to_i).round(2) * 100 %>
        <% progress = 100 if progress > 100 %>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%= progress %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="shelter-card-image">
      <% if emergency.photos.attached? %>
         <%= image_tag(emergency.photos[0]) %>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
