<h1 class="text-center m-4">Create urgent fundraising cause for <%= @emergency.animal.name %> </h1>
<div class="container w-50">
  <div class="bg-white rounded p-3 shadow">
    <%# guard clause to prevent showing error if the user didn't upload photo %>
    <% if @emergency.photos.attached? %>
      <%= image_tag(@emergency.photos[0]) %>
    <%# display defult pic if the user did'nt upload one %>
    <% else %>
      <%= image_tag "pets-icons.jpeg", width: 100 %>
    <% end #if %>

    <%= simple_form_for([@animal,@emergency]) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :fundraising_goal %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Photo for your Urgent Fundraising Cause" %>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit class: "btn add-emergency-button" %>
      </div>
    <% end %>
  </div>
</div>
