<!-- Facebook Open Graph data -->
<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "Pet Patron | Come to  #{@emergency.animal.name}'s aid!" %>
<% content_for :meta_description, @emergency.description %>
<% content_for :meta_image, cl_image_path(@emergency.photos[0].key) if @emergency.photos.attached? %>

<div class="emergency-show-body">
  <div class="emergencies-show-container">
    <div class="d-flex justify-content-between align-items-center mb-5">
      <div class="normal-head">Come to <%= @emergency.animal.name %>'s aid!</div>
      <div>
        <%= link_to "← back to emergencies", emergencies_path, class: "card-link", style: "color: #864924" %>
      </div>
    </div>

    <div class="fundraising-card">
      <div class="animal-show-card-image">
        <%# /////////////////////animals-show-photos start////////////////////////////////// %>
        <div id="animals-show-photos" class="carousel slide" data-bs-ride="true">

          <div class="carousel-indicators"> <%# switch buttons %>
              <% @emergency.photos.each_with_index do |photo, index| %>
              <button type="button" data-bs-target="#animals-show-photos" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>" aria-current="true" aria-label="Slide 1"></button>
              <% end %>
          </div>

          <div class="carousel-inner"> <%# photos %>
            <% if @emergency.photos.attached? %>
              <% @emergency.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <%= image_tag photo, class: "d-block w-100" %>
                </div>
              <% end #each %>
            <% else %>
              <div class="carousel-item active">
                <%= image_tag "pet_icon.jpg", class: "d-block w-100" %>
              </div>
            <% end #if %>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#animals-show-photos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#animals-show-photos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <%# //////////////////////animals-show-photos end///////////////////////////////// %>

      <div class="fundraising-card-text">
        <div class="card-head mb-3"><%= @sum_of_donations %> € of the goal of <%= @fgoal %> €</div>
        <% progress = (@sum_of_donations.to_f / @fgoal).round(2) * 100 %>
        <% progress > 100 ? progress = 100 : progress = progress.to_i %>
        <div class="progress mb-4">
          <div class="progress-bar" role="progressbar" style="width: <%= progress %>%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="card-link mb-2">Help <%= @emergency.animal.name %></div>
        <div class="card-link mb-2">Shelter: <%= @emergency.animal.shelter.name %></div>
        <div class="card-sub mb-5"><%= @emergency.description %></div>
        <%= link_to "Donate money", new_emergency_donation_path(@emergency), class: "add-emergency-button2", style: "font-size: 16px;" %>
      </div>
    </div>

    <% @donations.each do |donation| %>
      <div class="fund-comment-card my-3">
        <% if donation.user.avatar.key %>
          <%= image_tag donation.user.avatar, class: "avatar-large" %>
        <% else %>
          <%= image_tag "avatar.png", class: "avatar-large" %>
        <% end %>
        <div class="fund-comment-card-text">
          <div class="normal-head"><%= donation.user.first_name %> <%= donation.user.last_name %></div>
          <div class="normal-sub"><%= donation.comment %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# //////////////////model start///////////////////////// %>
<div class="modal fade" id="donation-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius: 18px;">
      <div class="row m-4">
        <div class="col-4 text-center">
          <%= image_tag "Paw-dontaion-modal.svg" %>
        </div>
        <div class="col-8 modal-title fs-5 text-center fw-bolder" id="exampleModalLabel">
          Thank you for your <%= flash[:confirmation] %> € donation for <%= @emergency.animal.name %>
        </div>
      </div>
      <%= image_tag "thankyou.gif"%>
      <a class="text-center my-4" href="https://www.facebook.com/sharer/sharer.php?u=http://www.petpatron.help/emergencies/<%= @emergency.id %>" target="_blank">
        <%= image_tag "facebook-share.png", style: "width: 85px;" %>
      </a>

      <div class="modal-footer bg-dark" style="justify-content: center; border-bottom-right-radius: 16px; border-bottom-left-radius: 16px;">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
<%# //////////////////model end////////////////////////// %>

<% if flash[:confirmation] %>
  <script>
    donation_modal();
  </script>
<% end %>
