<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Paw_Logo.svg" %>
    <% end %>
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active fw-semibold" %>
        </li>
        <li class="nav-item">
          <%= link_to "Emergencies", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Caretaking", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Shelters", shelters_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Dashboard", "#", class: "nav-link" %>
          </li>
        <% end %>
    </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "avatar", width: 40, height: 40 %>
              <% else %>
                <%= image_tag "avatar.png", class: "avatar", width: 60 %>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Photo", avatar_edit_path, class: "dropdown-item px-3 text-muted" %>
              <hr class="dropdown-divider">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item px-3 text-muted" %>
            </div>
          </li>
        <% else %>
          <% if !user_signed_in? && !current_page?(new_user_session_path) %>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
          <% if !user_signed_in? && !current_page?(new_user_registration_path) %>
            <li class="nav-item">
              <%= link_to "Register", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
