<div>
  <h1>Dashboard</h1>

  <div class="example-card-pending">
    <% @user_caretakings.each do |caretaking| %>
      <div class="caretaking-shelterdashboard-confirmed notification shadow">
        <div class="caretaking-info-text">
          <p><%= caretaking.animal.name %></p>
          <p><%= caretaking.date %></p>
          <p><%= caretaking.user.first_name%> <%= caretaking.user.last_name%></p>
        </div>
        <div class="caretaking-shelterdashboard-confirmed-photos">
          <div class="caretaking-shelterdashboard-confirmed-animal-photo">
            <% if caretaking.animal.photos.attached? %>
              <%= cl_image_tag(caretaking.animal.photos[0].key, class:"avatar-large") %>
            <% else %>
              <%= image_tag "pets-icons.jpeg", class: "avatar-large" %>
            <% end %>
          </div>
          <div class="caretaking-shelterdashboard-confirmed-user-photo">
          </div>
        </div>
        <div class="delete-caretaking-booking">
          <%= link_to "X", caretaking_path(caretaking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"}, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>

</div>
