<div>
  <h1>Dashboard</h1>

  <% if @myshelter.present? %>
    <h1><%= @myshelter.name %></h1>
      <% if @myshelter.photos.attached? %>
        <%= image_tag(@myshelter.photos[0])%>
      <% else %>
        <%= image_tag "defult-shelter.png", width: 500%>
      <% end %>
    <% else %>
    <%= link_to "Add shelter", new_shelter_path %>
  <% end %>

  <% if @myshelter.user == current_user %>
    <%= link_to "Edit my shelter", edit_shelter_path(@myshelter) %>
  <% end %>

  <div>
    <% if @myshelter.present? %>
      <h2> <%= @myshelter.name %>'s Dashboard</h2>

      <div> <h3> <%= @shelter_caretakings.count %> Caretaking booking in your shelter </h3>
        <% if @shelter_caretakings.any? { |b| b.accepted == false } %>
          <h3 class="my-5">Pending bookings</h3>
          <% end %>
          <% @shelter_caretakings.each do |caretaking| %>
            <% if caretaking.accepted == false %>
              <div class="notification shadow">
                <%= image_tag caretaking.user.avatar, class: "avatar-large" %>
                <div class="notification-content">
                  <p><small><%= caretaking.date_from %></small> to <small><%= booking.date_to %></small> for <small><%= booking.castle.name %></small></p>
                  <p><%= booking.comment %></p>
                </div>
                <div>
                  <%= link_to "Decline", booking_path(booking), data: { "turbo-method": :delete }, class: "btn btn-danger" %>
                  <%= link_to "Confirm", confirm_booking_path(booking), data: { turbo_method: :put, turbo_confirm: "Are you sure you want to confirm this booking?"}, class: "btn btn-success" %>
                </div>
              </div>
            <% end %>
          <% end %>

      </div>
      <div> <h3> <%= @myshelter.name %>'s Animals </h3>
        <%= link_to "Add animal", new_animal_path %>
          <div class="row">
              <% @shelter_animals.each do |animal| %>
                <div class="col-4">
                <%= link_to(animal_path(animal)) do %>
                  <div class="animal animal-overview">
                    <div class="animal-img">
                      <%= cl_image_tag(animal.photos[0].key)%>
                    </div>
                    <div>
                      <h4><%= link_to animal.name, animal_path(animal), class: 'animal-link'%></h4>
                    </div>
                    <div class="d-flex justify-content-between">
                    <%= link_to "Delete", animal_path(animal), data: { "turbo-method": :delete }, class: "text-danger" %>
                    <%= link_to "Edit", edit_animal_path(animal), class: "text-primary" %>
                    </div>
                  </div>
                <%end%>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>



@shelter_animals <%= @shelter_animals.count %>
@shelter_caretakings <%= @shelter_caretakings.count %>
@user_caretakings <%= @user_caretakings.count %>
@shelter_emergencies <%= @shelter_emergencies.count %>
@shelter_donations <%= @shelter_donations.count %>
@user_donations <%= @user_donations.count %>
</div>
