<div>
  <h1>Dashboard</h1>

  <% if @myshelter.present? %>
    <h1><%= @myshelter.name %></h1>
    <%= link_to "Edit my shelter", edit_shelter_path(@myshelter) %>

    <div class="col-4">
     <% if @myshelter.photos.attached? %>
        <%= image_tag(@myshelter.photos[0])%>
      <% else %>
        <%= image_tag "defult-shelter.png", width: 500%>
      <% end %>
    </div>
    <% else %>
    <%= link_to "Add shelter", new_shelter_path %>
  <% end %>

  <div>
    <% if @myshelter.present? %>
      <div> <h2> Your Shelter Dashboard</h2>
      </div>
      <div> <h3> My Shelter Animals </h3>
        <%= link_to "Add animal", new_animal_path %>
          <div class="row">
              <% @shelter_animals.each do |animal| %>
                <div class="col-4">
                <h4> <%= animal.name %></h4>
                <%= link_to(animal_path(animal)) do %>
                  <div class="animal animal-overview">
                    <div class="animal-dashboard-img">
                      <%# guard clause to prevent showing error if the user didn't apply photos for the animal %>
                      <%# iterate to show all photos %>
                      <% if animal.photos.attached? %>
                        <% animal.photos.each_with_index do |photo, index| %>
                            <%= cl_image_tag(animal.photos[0].key, class:"animal-dashboard-img") %>
                        <% end #each %>
                      <% else %>
                          <%= image_tag "pets-icons.jpeg", style: "width: 50%" %>
                      <% end #if %>
                    </div>
                    <div class="dashboard-links">
                    <%= link_to "Show profile", animal_path(animal) %>
                    <%= link_to "Edit profile", edit_animal_path(animal), class: "text-primary" %>
                    <%= link_to "+ Add Emergency", new_animal_emergency_path(animal) %>
                    <%= link_to "X (delete)", animal_path(animal), data: { "turbo-method": :delete }, class: "text-danger" %>
                    </div>
                  </div>
                <%end%>
                </div>
              <% end %>
            </div>
          </div>
      </div>

      <div> <h2> Booked Volunteering Slots: <%= @shelter_caretakings.count %></h2>
       <div>
        <% if @pending_shelter_caretakings.any? %>
          <h3> Pending: <%= @pending_shelter_caretakings.count %> </h3>
          <% end %>
          <% @pending_shelter_caretakings.each do |caretaking| %>
              <div class="notification shadow">
              <% if caretaking.user.avatar.key %>
                <%= image_tag caretaking.user.avatar, class: "avatar-large" %>
                <% else %>
                <%= image_tag "avatar.png" %>
                <% end %>
                <div class="notification-content">
                  <p><small><%= caretaking.date %></small> for <small><%= caretaking.animal.name %></small></p>
                  <p><%= caretaking.comment %></p>
                </div>
                <div>
                  <%= link_to "Decline", caretaking_path(caretaking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"}, class: "btn btn-danger" %>
                  <%= link_to "Confirm", confirm_caretaking_path(caretaking), data: { turbo_method: :put, turbo_confirm: "Confirm this booking?"}, class: "btn btn-success" %>
                </div>
              </div>
          <% end %>
      </div>
      <div>
        <% if @confirmed_shelter_caretakings.any? %>
          <h3> Confirmed: <%= @confirmed_shelter_caretakings.count %></h3>
          <% end %>
          <% @confirmed_shelter_caretakings.each do |caretaking| %>
              <div class="notification shadow">
                <% if caretaking.user.avatar.key %>
                  <%= image_tag caretaking.user.avatar, class: "avatar-large" %>
                <% else %>
                  <%= image_tag "avatar.png" %>
                <% end %>
                <div class="notification-content">
                  <p><small><%= caretaking.date %></small> for <small><%= caretaking.animal.name %></small></p>
                  <p><%= caretaking.comment %></p>
                </div>
                <p class="btn btn-success disabled">Confirmed</p>
                <%= link_to "X", caretaking_path(caretaking), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this booking?"}, class: "btn btn-danger" %>
              </div>
          <% end %>
      </div>

    <% end %>
  </div>
