<div>
  <h1>Dashboard</h1>

  <% if @myshelter.present? %>
    <h1><%= @myshelter.name %></h1>
    <%= link_to "Edit my shelter", edit_shelter_path(@myshelter) %>
      <% if @myshelter.photos.attached? %>
        <%= image_tag(@myshelter.photos[0])%>
      <% else %>
        <%= image_tag "defult-shelter.png", width: 500%>
      <% end %>
    <% else %>
    <%= link_to "Add shelter", new_shelter_path %>
  <% end %>

  <div>
    <% if @myshelter.present? %>
      <h2> <%= @myshelter.name %>'s Dashboard</h2>
      <div> <h3> <%= @myshelter.name %>'s Animals </h3>
        <%= link_to "Add animal", new_animal_path %>
          <div class="row">
              <% @shelter_animals.each do |animal| %>
                <div class="col-4">
                <h4> <%= animal.name %></h4>
                <%= link_to(animal_path(animal)) do %>
                  <div class="animal animal-overview">
                    <div class="animal-img">
                      <%= cl_image_tag(animal.photos[0].key)%>
                    </div>
                    <div class="d-flex justify-content-between">
                    <%= link_to "Show profile", animal_path(animal), class: 'animal-link'%>
                    <%= link_to "Edit profile", edit_animal_path(animal), class: "text-primary" %>
                    <%= link_to "+ Add Emergency", new_animal_emergency_path(animal) %>
                    <%= link_to "X (delete)", animal_path(animal), data: { "turbo-method": :delete }, class: "text-danger" %>
                    </div>
                  </div>
                <%end%>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
  </div>
