<!-- Facebook Open Graph data -->
<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "Pet Patron | Home | Welcome to PetPatron, where you can help" %>

<div class="background-body">
  <div class="container">
    <div class="home-dog">
      <div class="hero">
        <div class="hero-copy">
          <% if user_signed_in? %>
            <h1>Hi, <%= current_user.first_name.capitalize %> </h1>
          <% else %>
            <h1>Hi, animal lover!</h1>
          <% end %>
          <p>Welcome to PetPatron, where you can help shelters or register as one.</p>
        </div>
        <%= link_to "", new_shelter_path, class: "hero-eyecatcher" %>
      </div>

      <div class="three-cards-row">
        <%= link_to emergencies_path, class: "display-inherit" do %>
          <div class="category-card emergency-category-card emergency-img">
            <p class="card-headline">Urgent Causes →</p>
          </div>
        <% end %>
        <%= link_to animals_path, class: "display-inherit" do %>
          <div class="category-card animal-category-card animal-img">
            <p class="card-headline">Caretaking →</p>
          </div>
        <% end %>
        <%= link_to shelters_path, class: "display-inherit" do %>
          <div class="category-card shelter-category-card shelter-img">
            <p class="card-headline">Shelters →</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
