<div class="container w-50">
  <div class="bg-white rounded p-3 shadow">
    <%= simple_form_for(@animal) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :sex, collection: [ "Female", "Male"] %>
      <%= f.input :size, collection: ["XSmal", "Small", "Medium", "Large", "XLarge"] %>
      <%= f.input :species %>
      <%= f.association :categories, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
      <%= f.input :append_photos, as: :file, input_html: { multiple: true } %>


      <div class="d-grid gap-2 col-6 mx-auto">
        <%= f.submit class: "btn add-animal-button" %>
      </div>
    <% end %>
  </div>
</div>
