<div class="intro-banner" style="background-image: url(<%= image_path("banner_pig.png") %>)">
  <div class="intro-copy">
    <h2 class="normal-head"> Animals</h2>
    <p class="normal-sub">Not sure if subline is needed – maybe just some short explanation</p>
    <a href="/" class="card-sub"><i class="fa-solid fa-arrow-left-long font-weight-light"></i> back to home</a>
  </div>
</div>
<div class="animal-container">
  <div class="container-top">
    <div class="container-top-copy">
      <h2 class="normal-head"> Animals</h2>
      <p class="normal-sub">Search for animals close to you</p>
      <form class="input-group right-align container-top-search" role="search">
        <input class="form-control" id="query" name="query" type="search" placeholder="Search for animals by name or species" aria-label="Search">
        <button type="submit" class="btn border bg-white">Search</button>
      </form>
    </div>
    <div style="width: 50%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="container-bottom">
    <% @animals.each do |animal| %>
      <div class="animal-card">

        <%# //////////////////test start////////////////////////////////// %>
        <div class="p-4" style="display: grid; row-gap: 5px;">
          <h5 class="card-head"><%= animal.name %></h5>
          <table class="mb-2">
            <tbody>
              <tr>
                <th class="card-sub"><i class="fa-solid fa-hand-holding-heart"></i>&nbsp; Volunteer</th>
              </tr>
              <tr>
                <th class="card-sub">
                  <% animal.categories.each do |category| %>
                    <span class="tag badge rounded-pill"><%= category.name %></span>
                  <% end %>
                </th>
              </tr>
            </tbody>
          </table>
          <%= link_to "Book date →", animal_path(animal), class: "card-link fw-bold" %>
        </div>
        <%# //////////////////test end////////////////////////////////// %>

          <div class="shelter-card-image">
            <%# guard clause to prevent showing error if the user didn't apply photos for the animal %>
            <% if animal.photos.attached? %>
              <%= cl_image_tag(animal.photos[0].key) %>
            <%# display defult pic if the user did'nt upload one %>
            <% else %>
              <%= image_tag "pets-icons.jpeg"%>
            <% end #if %>
          </div>
      </div>
    <% end %>
  </div>
</div>
