<!-- Facebook Open Graph data -->
<% content_for :meta_url, "#{request.original_url}" %>
<% content_for :meta_title, "Pet Patron | Animals List | Search for animals close to you" %>

<div class="intro-banner" style="background-image: url(<%= image_path("banner_pig.png") %>)">
  <div class="intro-copy">
    <h2 class="normal-head"> Animals</h2>
    <p class="normal-sub"> All these animals are looking for their forever home and are waiting for your help !  </p>
    <a href="/" class="card-sub"><i class="fa-solid fa-arrow-left-long font-weight-light"></i> back to home</a>
  </div>
</div>
<div class="animal-container">
  <div class="container-top" data-controller="search">
    <div class="container-top-copy">
      <h2 class="normal-head"> Caretaking</h2>
      <p class="normal-sub">Find shelter animals close to you and ways to volunteer to take care of them.  </p>
      <%= form_with url: animals_path, method: :get, class: "input-group right-align container-top-search" do %>
        <div class="d-flex w-100" >
          <%= text_field_tag :query, params[:query], class:  "form-control", id: "query", placeholder: "Search by city name or animal species" %>
          <button type="submit" class="btn border bg-white"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div style="margin-top: 7px">
          <% Category.all.each do |category| %>
          <div class="tag-item">
            <%= check_box_tag 'categories[]', category.name, params[:categories] ? params[:categories].include?(category.name) : false, class: "tag-selector", item_wrapper_class: "tag-item" %>
            <%= label_tag category.name, nil, style: "border: 1px solid #cc99cc;", data: { search_target: "filter", action: "click->search#selectCategory"} %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div style="width: 50%; height: 250px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="container-bottom">
    <% if @animals.present? %>
      <% @animals.each do |animal| %>
        <div class="animal-card">
          <div style="padding: 28px 28px;">
            <div class="name-gender-size">
              <div class="animal-name">
                <h5 class="card-head"> <%= animal.name %></h5>
              </div>
              <div class="gender-size">
                <p><i class="fa-solid fa-mars-and-venus"></i>&nbsp; <%= animal.sex %></p>
                <p><i class="fa-solid fa-arrows-up-down-left-right"></i>&nbsp; <%= animal.size %></p>
              </div>
            </div>
            <div style="margin-bottom: 16px;height: 3em;">
            <%# the height here will make the "Read more & book volunteering" link be in the same line %>
              <% animal.categories.each do |category| %>
                <span class="tag badge rounded-pill"><%= category.name %></span>
              <% end %>
            </div>
            <span><i class="fa-regular fa-calendar-check"></i> <%= link_to "Read more & book volunteering →", animal_path(animal), class: "card-link fw-bold" %></span>
          </div>
            <%= link_to animal_path(animal), style:"text-decoration: none" do %>
              <div class="shelter-card-image" >
                <%# guard clause to prevent showing error if the user didn't apply photos for the animal %>
                <% if animal.photos.attached? %>
                  <%= cl_image_tag(animal.photos[0].key) %>
                <%# display defult pic if the user did'nt upload one %>
                <% else %>
                  <%= image_tag "pet_icon.jpg"%>
                <% end %>
              </div>
            <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
