<div class="animal-show-container">
  <div class="animal-show-body">
    <div class="animal-show-title">
      <h2> <%= @animal.name %> </h2>
      <%= link_to "â† back to all animals", animals_path %>
    </div>
    <div class="animal-show-card">
      <div class="animal-show-card-image">
        <%# /////////////////////////////////////////////////////// %>
        <div id="animals-show-photos" class="carousel slide" data-bs-ride="true">

          <div class="carousel-indicators"> <%# switch buttons %>
              <% @animal.photos.each_with_index do |photo, index| %>
              <button type="button" data-bs-target="#animals-show-photos" data-bs-slide-to="<%= index %>" class="<%= "active" if index == 0 %>" aria-current="true" aria-label="Slide 1"></button>
              <% end %>
          </div>

          <div class="carousel-inner"> <%# photos %>
            <% if @animal.photos.attached? %>
              <% @animal.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= "active" if index == 0 %>">
                  <%= image_tag photo, class: "d-block w-100" %>
                </div>
              <% end #each %>
            <% else %>
              <div class="carousel-item active">
                <%= image_tag "pets-icons.jpeg", class: "d-block w-100" %>
              </div>
            <% end #if %>
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#animals-show-photos" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#animals-show-photos" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <%# /////////////////////////////////////////////////////// %>

      </div>
      <div class="animal-show-card-content-container">
          <div class="animal-show-card-content-title">
            <h4>Animal Profile</h4>
            <p><%= @animal.description %></p>
          </div>
          <table>
            <tbody>
              <tr>
                <th class="card-sub"><i class="fa-solid fa-paw"></i> Species:</th>
                <th class="card-sub"><%= @animal.species %></th>
              </tr>
              <tr>
                <th class="card-sub"><i class="fa-solid fa-mars-and-venus"></i> Sex:</th>
                <th class="card-sub"><%= @animal.sex %></th>
              </tr>
              <tr>
                <th class="card-sub"><i class="fa-solid fa-maximize"></i> Size:</th>
                <th class="card-sub"><%= @animal.size %></th>
              </tr>
              <tr>
                <th class="card-sub"><i class="fa-solid fa-heart-pulse"></i> Caretakings: &nbsp; &nbsp; &nbsp; &nbsp;</th>
                <th class="card-sub">???</th>
              </tr>
            </tbody>
          </table>
          <%= simple_form_for(@animal) do |f| %>
            <%= f.association :categories, as: :check_boxes, input_html: { class: "tag-selector" },
                  item_wrapper_class: 'tag-item' %>
          <% end %>
      </div>
    </div>
  </div>

  <%# ////////////////////////Booking form start//////////////////// %>
  <div class="container" id="booking">
    <div class="bg-white rounded-4 p-3 shadow">
      <h2> Book a volunteering slot for <%= @animal.name %> now </h2>
      <br>
      <% if current_user.present? %>
        <%= simple_form_for [@animal, @caretaking] do |f| %>
          <%= f.input :comment %>
          <%= f.input :date, as: :datetime, html5: true %>
          <%= f.association :category, collection: @animal.categories %>
          <div class="d-grid gap-2 col-6 mx-auto">
          <%= f.submit class: "btn bookdate-button", value:"Book volunteering"%>
          </div>
        <% end %>
      <% else %>
        <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to "Please log in", user_session_path, class: "btn bookdate-button" %>
        </div>
      <% end %>
    </div>
  </div>
  <%# ////////////////////////Booking form end//////////////////// %>

</div>
