<!DOCTYPE html>
<html>
  <head>
    <title>PetPatron</title>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="PetPatron">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_tag("Paw_Logo.svg") %>">
    <meta property="og:description" content="PetPatron ...">
    <meta property="og:site_name" content="PetPatron">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
  </head>

  <body>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <div style="min-height: 70vh">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>
